@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("fonts/PlayfairDisplay-Regular.woff2") format("woff2");
}

:root {
  --content-width: min(100%, 72rem);
  --form-width: min(100%, 34rem);

  --color: #000;
  --second: red;
  --background: #efefef;

  /* Palette */
  --color-primary-0: #fff8f6;
  --color-primary-1: #ffd0c4;
  --color-primary-2: #ffe1d9;
  --color-primary-3: #fff0ec;
  --color-primary-4: #e9d7d3;

  --color-secondary-1-0: #d2d7d9;
  --color-secondary-1-1: #859fab;
  --color-secondary-1-2: #a6b8c1;
  --color-secondary-1-3: #9aa2a6;
  --color-secondary-1-4: #868f93;

  --color-secondary-2-0: #f1f5ed;
  --color-secondary-2-1: #d1eab4;
  --color-secondary-2-2: #dfefcc;
  --color-secondary-2-3: #e1e8d7;
  --color-secondary-2-4: #cad3bf;

  /* Fonts */
  --copy: -apple-system, --system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --headlines: "PlayfairDisplay-Regular", var(--copy);
  --source: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: var(--copy);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.3;
  color: var(--color);
  background: var(--background);
}
p,
div,
th,
td,
li,
footer,
header,
main {
  font-family: var(--copy);
  font-size: 1rem;
}
a {
  color: var(--color);
  text-decoration: none;
}
a:hover {
  color: var(--second);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headlines);
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 2rem;
}
b,
strong {
  font-weight: 400;
}

code {
  font-family: var(--source);
}
p {
  margin-bottom: 3rem;
}
.notification {
  font-size: 0.8rem;
  /* border-bottom: 1px solid var(--color); */
  text-align: center;
  background: var(--color);
  color: var(--background);
  padding: 1rem;
}
header {
  border-bottom: 1px solid var(--color);
  position: sticky;
  top: 0;
  background-color: var(--background);
}
header > div {
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  align-items: stretch;
  width: var(--content-width);
}
header a.page-title {
  font-size: 2rem;
  padding: 0 1rem;
  display: flex;
  font-family: var(--headlines);
  justify-content: center;
  align-items: center;
}
header a.page-title img {
  height: 0.8rem;
}
header a.page-title:hover {
  text-decoration: none;
  color: var(--color);
}
header nav.menu {
  flex: 1;
  padding: 1rem;
  padding-left: 3rem;
  border-left: 1px solid var(--color);
  display: flex;
  align-items: center;
}
header .badge {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
header .menu a {
  margin-right: 4rem;
}
header .menu a.active {
  margin-right: 4rem;
  color: var(--second);
}

footer {
  padding: 4rem;
  text-align: center;
}
section {
  margin: 0 auto;
  padding: 0 1rem;
  width: calc(var(--content-width) - 2rem);
}

.hero {
  display: flex;
  height: 60vh;
  align-items: center;
  gap: 5rem;
  justify-content: center;
}
.hero p {
  margin-bottom: 1rem;
}
.hero h2,
.hero h3,
.hero h1 {
  margin-bottom: 1rem;
}

.form {
  margin-top: 2rem;
  width: var(--form-width);
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
label .label-name {
  font-weight: 700;
}
label .label-description {
  font-size: 0.8rem;
  color: var(--color-secondary-1-4);
}
input,
textarea,
select {
  font-family: var(--copy);
  border-radius: 2px;
  line-height: 2rem;
  background-color: transparent;
  border: 1px solid var(--color-secondary-1-0);
  font-size: 1rem;
  padding: 0.5rem;
}
input:hover,
textarea:hover,
select:hover {
  background-color: var(--color-primary-0);
  border: 1px solid var(--color-secondary-1-3);
}
input:focus,
textarea:focus,
select:focus {
  background-color: var(--color-primary-0);
  border: 1px solid var(--color-secondary-1-3);
}
input[name="title"] {
  font-family: var(--headlines);
  font-size: 2rem;
}


button {
  padding: .5rem;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--color);
  border-width: 0px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  transition: 0.2s;
}

button.button--delete {
  background-color: var(--second);
}

/* Legacy from her down */

.log {
  padding: 1rem;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.account {
  display: flex;
  gap: 1rem;
}
.account .menu {
  border-right: 1px solid var(--color-secondary-1-0);
  padding-right: 2rem;
  width: 22rem;
}
.account .menu a {
  min-height: 3rem;
  display: flex;
  border-radius: 2px;
  padding: 0 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.account .menu a:hover {
  background-color: var(--color-primary-0);
}

#notes {
  margin: 0;
}
.account .menu a .meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.account .menu a .meta .domain {
  font-size: .8rem;
  opacity: .67;
}
.account .menu a .status {
  flex: 0 0 1rem;
  height: 1rem;
  margin-top: 1rem;
  border-radius: 50%;
}

.status--draft .status {
  background-color: var(--color-secondary-1-2);
}
.status--archived .status {
  background-color: var(--color-primary-1);
}
.status--published .status {
  background-color: var(--color-secondary-2-1);
}

body.logged-in .sanity-no-go {
  display: none;
}

body.logged-out .account {
  display: none;
}

/* Netlify Identity */
.netlify-identity-menu {
  margin: 0;
}
.data-netlify li {
  margin: 0;
  margin-left: 3rem;
}

.data-netlify li {
  display: inline-block;
}

#animation {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  background-color: rgba(100, 100, 100, 0.74);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#animation img {
  width: 10vw;
  opacity: 0.5;
  animation: 2s rocking infinite ease-in-out;
}

@keyframes rocking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 991px) {
  .hide-lg {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hide-md {
    /* start of medium tablet styles */
    display: none !important;
  }
  .hero > div {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  .hide-sm {
    display: none !important;
  }
}
